<footer>
    <div class="footer-bottom">
      <p>Made by &copy;2024 <a>Jade, Joel, Odalys and Danny</a></p>
      
      <div class="footer-menu">
        <ul class="f-menu">
          <li>Group Project</li>
          <li><a href="https://www.linkedin.com/in/johnjade-moslares"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://www.linkedin.com/in/johnjade-moslares"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://www.linkedin.com/in/odalysruano/"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://www.linkedin.com/in/dannyhtun49/"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>
