<footer>
    <div class="footer-bottom">
      <p>Group Project by &copy;2024 <a></a></p>
      
      <div class="footer-menu">
        <ul class="f-menu">
          <li>Danny <a href="https://www.linkedin.com/in/dannyhtun49/"><i class="fab fa-linkedin"></i></a>,</li>
          <li>Jade <a href="https://www.linkedin.com/in/johnjade-moslares"><i class="fab fa-linkedin"></i></a>,</li>
          <li>Joel <a href="https://www.linkedin.com/in/johnjade-moslares"><i class="fab fa-linkedin"></i></a>,</li>
          <li>Odalys <a href="https://www.linkedin.com/in/odalysruano/"><i class="fab fa-linkedin"></i></a>,</li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>
