<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GA Marketplace | <%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- for icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav>
      <h2 class="logo">
        <a href="/???"><span>GA</span>Marketplace</a>
      </h2>
      <ul>
        <li><a href="/products/">All Products</a></li>
        <li><a href="/???">???</a></li>
        <li><a href="/???">???</a></li>
        <li><a href="/???">???</a></li>
      </ul>
      <a href="/orders">View Cart</a>

      <% if (user) { %>
      <a href="/???" class="btn">Profile</a>
      <a href="/logout" class="btn">Log Out</a>
      <% } else { %>
      <a href="/auth/google" class="btn">Log In</a>
      <% } %>
    </nav>
