<%- include('./partials/header') %>

<div class="first">
  <div class="content">
    <h4>Welcome to</h4>
    <h1><span>GA</span>Marketplace</h1>
    <h3>Where you can sell anything</h3>
  </div>
</div>


<%- include('./partials/footer') %>
