* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}
body {
  background-color: rgba(255, 255, 255, 0.9);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
}

.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: #8304b7;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #8304b7;
  transition: 0.4s;
}
.btn {
  background-color: #8304b7;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}

footer {
  position: absolute;
  right: 0;
  /* bottom: 0; */
  left: 0;
  background: #111;
  color: #fff;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: #8304b7;
}
.footer-bottom {
  background: #000;
  padding: 20px;
  padding-bottom: 35px;
  text-align: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #8304b7;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

.footer-menu {
  float: right;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: #8304b7;
}

/* Below is style for Homepage */
.first {
  height: 100vh;
  width: 100%;
  background-image: url("https://wallpapercave.com/wp/wp5843017.jpg");
  background-size: cover;
  background-position: center;
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}

.content h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}
.content h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}
.content h4 {
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}

/* user stuff temporary --> */
#user-page-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

#user-list {
  border: solid 1px;
  padding: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#prv-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

#prv-itm {
  border: solid 1px;
  padding: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#rev-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

#usr-rev{
  border: solid 1px;
  padding: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#add-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

#add-form {
  border: solid 1px;
  padding: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* temporary --> */