* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}
@media only screen and (min-width: 320px) {
  body {
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url("https://wallup.net/wp-content/uploads/2016/05/25/20766-texture-clothing.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "nav"
      "main"
      "footer";
  }

  nav {
    padding-top: 15px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    grid-area: nav;
  }

  nav .logo {
    float: left;
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
  }
  span {
    color: #8304b7;
  }

  nav a {
    color: white;
    text-decoration: none;
  }

  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  nav ul li a {
    padding-left: 35%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
  }
  nav ul li a:hover {
    color: #8304b7;
    transition: 0.4s;
  }
  .btn {
    background-color: #8304b7;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.4s;
  }
  .btn:hover {
    transform: scale(1.2);
  }

  /* <!-- Search and dropdown --> */
  .dropbtn {
    background-color: transparent;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #8304b7;
  }

  nav .search-container {
    float: right;
  }

  nav input[type="text"] {
    padding: 6px;
    margin-top: 3px;
    font-size: 19px;
    border: none;
    width: 360px;
  }

  nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 3px;
    margin-right: 16px;
    background: #ddd;
    font-size: 19px;
    border: none;
    cursor: pointer;
  }

  nav .search-container button:hover {
    background: #ccc;
  }

  /* <!-- Footer --> */
  footer {
    position: fixed;
    right: 0;
    left: 0;
    background: #111;
    color: #fff;
    bottom: 0;
    grid-area: footer;
  }

  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }

  .socials li {
    margin: 0 10px;
  }
  .socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
  }

  .socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color 0.4s ease;
  }
  .socials a:hover i {
    color: #8304b7;
  }
  .footer-bottom {
    background: #000;
    padding: 20px;
    padding-bottom: 35px;
    text-align: center;
  }
  .footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom p a {
    color: #8304b7;
    font-size: 16px;
    text-decoration: none;
  }
  .footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
  }

  .footer-menu {
    float: right;
  }
  .footer-menu ul {
    display: flex;
  }
  .footer-menu ul li {
    padding-right: 10px;
    display: block;
  }
  .footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
  }
  .footer-menu ul li a:hover {
    color: #8304b7;
  }

  /* Below is style for Homepage */
  .first {
    height: 100vh;
    width: 100%;
    background-image: url("https://wallpapercave.com/wp/wp5843017.jpg");
    background-size: cover;
    background-position: center;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
  }

  .content h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
  }
  .content h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
  }
  .content h4 {
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
  }
button.disabled {
  opacity: 0.5; /* Gray out button */
  cursor: not-allowed; /* Change cursor to indicate button is not clickable */
}
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: scroll;
    margin-top: 50px;
    grid-area: main;
  }

  .container2 {
    position: relative;
    /* min-height: 250vh; */
    width: 100%;
    padding-top: 5%;
    padding-left: 8%;
    z-index: 0;
  }

  .bckgrnd-crd {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    
  }

  #show-detail-page {
    display: grid;
    grid-template-columns: 70px 100px;
    grid-gap: 3%;
  }

  .title {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .image {
    object-fit: contain;
    max-height: 200px;
    max-width: 200px;
  }

  .visit-shop {
    width: 200px;
    text-align: center;
  }

  #shop-page {
    text-align: left;
    font-size: 20px;
    border-spacing: 30px 0;
  }

  /* user stuff temporary --> */
  #user-page-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  #user-list {
    border: solid 1px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  #avt-img {
    border-radius: 50%;
    padding: 10px;
    background-color: darkgrey;
    margin-right: 20px;
  }

  .usr-head {
    font-size: 16px;
  }

  #prdct-img {
    height: 60px;
    width: auto;
  }

  #prv-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  #prv-itm {
    border: solid 1px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  #rev-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }

  #usr-rev {
    border: solid 1px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  #add-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #add-form {
    border: solid 1px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    text-align: left;
  }

  .add-form-btn-wrp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    padding: 20px;
  }
  
  .add-form-btn {
  border-radius: 5px;
  width: 80px;
  }

}

#edt-btn-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 755px;
}

#edt-btn {
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  
}

.itm-head {
  font-size: 20px;
}
/* <-- user stuff temporary */

  /* <!-- Products cards in searching --> */
  .container2 {
    position: relative;
    /* min-height: 250vh; */
    width: 100%;
    padding-top: 5%;
    padding-left: 8%;
    z-index: 0;
  }

  .container2 .card {
    /*margin-top:300px;*/
    position: relative;
    width: 22%;
    height: 350px;
    background-color: rgba(95, 95, 95, 0.9);
    margin: 30px 10px;
    padding: 20px 15px;
    float: left;
    display: table-cell;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }

  .container2 .card .card-image {
    position: relative;
    top: -15%;
    left: 8px;
    z-index: 1;
    width: 96%;
    height: 100%;
    transition: 0.3s ease-in-out;
  }

  .container2 .card .card-image img {
    max-width: 100%;
    border-radius: 15px;
    height: 350px;
    width: 100%;
    transition: 0.3s ease-in-out;
  }

  .container2 .card .card-content {
    position: relative;
    top: -240px;
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  .container2 .card:hover .card-content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
  }

  .container2 .card:hover .card-image img {
    height: 0px;
  }

