<section id="show-page">
    <div>Name: </div>
    <div><%= product.name %></div>
    <div>Category: </div>
    <div><%= product.category %></div>
    <div>Color: </div>
    <div><%= product.color %></div>
    <div>Price: </div>
    <div><%= product.price %></div>
</section>
